<div class="grid h-screen w-screen content-start">
  <app-navbar></app-navbar>
  <form>
    <div class="profile-picture">
      <img [src]="'data:image/jpeg;base64,' + usuarioDto?.fotoPerfil" alt="Foto de perfil" class="profile-img">
      <input *ngIf="isEditMode" type="file" (change)="uploadImagem()" class="file-input" />
      <i *ngIf="isEditMode" class="edit-icon" (click)="uploadImagem()">✎</i>
    </div>
    <div class="flex gap-3">
      <div class="grid gap-1">
        <app-input label="Nome" for="nome" id="nome" type="text" readonly=!isEditMode [(ngModel)]="usuarioDto.nome" name="nome"></app-input>
      </div>
      <div class="grid gap-1">
        <app-input label="Email" for="email" id="email" type="email" readonly="!isEditMode" [(ngModel)]="usuarioDto.email" name="email"></app-input>
      </div>
    </div>

    <div class="flex gap-3">
      <div class="grid gap-1">
        <app-input label="CPF" for="cpf" id="cpf" type="text" readonly="true" [(ngModel)]="usuarioDto.cpf" name="cpf"></app-input>
      </div>
    </div>
    <button *ngIf="!isEditMode" (click)="toggleEditMode()" class="btn btn-primary">
      Editar
    </button>
    <button *ngIf="isEditMode" (click)="saveProfile()" class="btn btn-success">Salvar</button>
  </form>
</div>
