<div class="grid h-screen w-screen content-start">
  <app-navbar></app-navbar>
  <div class="container mx-auto p-4">
    <h1 class="text-xl font-bold mb-4">Listagem de Denúncias</h1>

    <!-- Filtros -->
    <form (ngSubmit)="listarDenuncias()" class="flex gap-5 items-end mb-8">
      <app-input label="Mensagem" [(ngModel)]="filtro.texto" name="texto"></app-input>
      <app-input type="date" label="" [(ngModel)]="filtro.dataInicial" name="dataInicial"></app-input>
      <app-input type="date" label="" [(ngModel)]="filtro.dataFinal" name="dataFinal"></app-input>
      <select [(ngModel)]="filtro.motivoDaDenuncia" class="input">
        <option selected value="">Todos os Motivos</option>
        <option value="PUBLICAO_OFENSIVA">Publicação Ofensiva</option>
        <option value="INFORMACAO_FALSA">Informação Falsa</option>
        <option value="PUBLICACAO_CALUNIOSA">Publicação Caluniosa</option>
      </select>
      <app-confirm-button label="Filtrar"></app-confirm-button>
    </form>


    <!-- Tabela -->
    <table class="table-auto w-full border-collapse border border-gray-200">
      <thead>
        <tr class="bg-gray-100">
          <th class="border p-2">Pruu</th>
          <th class="border p-2">Denunciante</th>
          <th class="border p-2">Motivo</th>
          <th class="border p-2">Data da Denúncia</th>
          <th class="border p-2">Analisada</th>
          <th class="border p-2">Analisar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let denuncia of denuncias">
          <td class="border p-2">{{ denuncia.mensagem.texto.substring(0, 20) + '...' }}</td>
          <td class="border p-2">{{ denuncia.usuario.nome }}</td>
          <td class="border p-2">{{ denuncia.motivo }}</td>
          <td class="border p-2">{{ denuncia.data | date:'short' }}</td>
          <td class="border p-2">{{ denuncia.foiAnalisada ? 'Sim' : 'Não' }}</td>
          <td class="border p-2 text-center">
            <i class="ph ph-eye cursor-pointer text-blue-500" (click)="abrirDetalhes(denuncia.mensagem.id, denuncia.usuario.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>