<div class="grid h-screen w-screen content-center">
  <form class="grid gap-3 m-auto drop-shadow-[0_5px_5px_#8b8b8b] rounded-xl px-8 py-6 size-content bg-sky-600">
    <h5 class="justify-self-center">Faça seu login</h5>
    <div class="grid gap-1">
      <app-input label="Email" for="email" id="email" type="email" [(ngModel)]="usuarioLoginDto.login" name="login"></app-input>
    </div>
    <div class="grid gap-1">
      <app-input label="Senha" for="senha" id="senha" type="password" [(ngModel)]="usuarioLoginDto.senha" name="senha"></app-input>
    </div>
    <a class="text-xs underline hover:text-neutral-300" routerLink="/cadastro-usuario">Cadastre-se</a>
    <app-confirm-button (click)="realizarLogin()"></app-confirm-button>
  </form>
</div>